body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.project {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #333;
}

a {
    color: #00a7d1;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    margin: 2px;
    font-size: 200%;
}
