:root {
    --background-light: #ffffff;
    --background-dark: #121212;
    --text-light: #000000;
    --text-dark: #ffffff;
    --text-color-light: #00a1c9;
    --text-color-dark: #00ccff;
    --box-background-light: #f0f0f0;
    --box-background-dark: #1e1e1e;
    --transition-duration: 0.3s;
}

body {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color var(--transition-duration), color var(--transition-duration);
    font-family: monospace;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

a {
    color: var(--text-color-light);
}

body.dark-mode a {
    color: var(--text-color-dark);
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.topbar {
    padding: 5px 5px 0 5px;
    display: inline-flex;
}

.topbar a {
    margin-right: 0;
}

.topbar a i {
    color: var(--text-light);
    font-size: 1.2em;
}

body.dark-mode .topbar a i {
    color: var(--text-dark);
}

.topbar a:hover {
    text-decoration: none;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.project {
    background-color: var(--box-background-light);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

body.dark-mode .project {
    background-color: var(--box-background-dark);
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #333000;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages i {
    margin: 0 8px;
    font-size: 2rem;
}

.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
}

.theme-toggle i {
    font-size: 1.5rem;
}

.theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sun-icon {
    color: #000000;
}

#moon-icon {
    color: #ffffff;
    display: none;
}

body.dark-mode #moon-icon {
    display: block;
}

body.dark-mode #sun-icon {
    display: none;
}

.tag {
    float: right;
    font-weight: bold;
}
